---
name: ibc

services:
  ibc:
    container_name: ibc
    image: ghcr.io/mighty-muffin/ibc:latest
    pull_policy: always
    restart: unless-stopped
    ports:
      - 8000:8000
    networks:
      - cloudflared

  cloudflare-tunnel:
    image: docker.io/cloudflare/cloudflared:latest
    pull_policy: always
    container_name: cloudflare-tunnel
    restart: unless-stopped
    command: tunnel run
    environment:
      TUNNEL_TOKEN: ${CF_TUNNEL_TOKEN}
      TZ: America/New_York
    networks:
      - cloudflared

networks:
  cloudflared:
    name: cloudflared
