---
name: CD - Deployment

on: # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      env:
        description: "Target env"
        required: true
        type: string
      image-tag:
        description: "Container image tag to deploy"
        required: false
        type: string
        default: "latest"
    secrets:
      TS_OAUTH_CLIENT_ID:
        required: true
      TS_OAUTH_CLIENT_SECRET:
        required: true
      DEPLOY_HOST:
        required: true
      DEPLOY_USER:
        required: true
      DEPLOY_SSH_KEY:
        required: true
      CF_TUNNEL_TOKEN:
        required: true
  workflow_dispatch:
    inputs:
      env:
        description: "Target env"
        required: true
        type: choice
        options:
          - dev
          - prod
        default: "dev"
      image-tag:
        description: "Container image tag to deploy"
        required: false
        default: "latest"

concurrency:
  group: cd-${{ inputs.env }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: false

jobs:

  sbom_scan:
    name: SBOM Scan
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    steps:

      - name: Generate SBOM
        id: container
        run: |
          echo Run Container Scan
          echo "::warning::Must implement a container scanning mechanism."
        shell: bash

      - name: Scan SBOM
        id: sbom
        run: |
          echo Run Container Scan
          echo "::warning::Must implement a container scanning mechanism."
        shell: bash
        continue-on-error: true

      - name: Check status of potentially failing step and issue warning
        if: steps.sbom.outcome == 'failure'
        run: |
          echo "::error::The previous step detected potential vulnerabilities in the associated SBOM. Please review the report above."
        shell: bash

  deploy:
    needs:
      - sbom_scan
    name: Deploy to ${{ inputs.env }}
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    environment:
      name: ${{ inputs.env }}
      url: ${{ vars.ENVIRONMENT_URL }}

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Connect to Tailnet
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_CLIENT_SECRET }}
          ping: ${{ secrets.DEPLOY_HOST }}
          tags: tag:ci

      - name: Create .env file
        run: |
          echo "CF_TUNNEL_TOKEN=${{ secrets.CF_TUNNEL_TOKEN }}" > .env
        shell: bash

      - name: Update image tag in compose.yml
        if: inputs.env == 'dev'
        run: |
          sed -i 's|ghcr.io/mighty-muffin/ibc:latest|ghcr.io/mighty-muffin/ibc:gha-${{ github.run_id }}|g' compose.yml
        shell: bash

      - name: Docker Compose Upload and Deploy
        uses: cssnr/stack-deploy-action@v1.5.0
        with:
          name: "ibc-${{ inputs.env }}"
          file: "compose.yml"
          host: ${{ secrets.DEPLOY_HOST }}
          user: ${{ secrets.DEPLOY_USER }}
          ssh_key: ${{ secrets.DEPLOY_SSH_KEY }}
          env_file: ".env"
          mode: compose
